.theme-toggle-button {
  background-color: #494949;
  color: #fafafa;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 60px;
  display: block;
}

.dark .theme-toggle-button {
  color: #1d1716;
  background-color: #dfdfdf;
}

body.dark {
  background-color: #1d1716;
  color: #fafafa;
  text-shadow: -1px -1px 0 #494949, 1px -1px 0 #494949;
}

.dark #current-info {
  color: #f2f4f7;
}

.container {
  display: block;
  margin: 35px;
  padding: 25px;
  max-width: 978px;
  border-radius: 500px;
  border-width: 10px 4px;
  outline: ridge grey;
  outline-width: 10px;
  position: relative;
  overflow: hidden;
}

body {
  max-width: 978px;
  font-family: Arial, sans-serif;
  display: grid;
  place-items: center;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.new-city-search {
  display: block;
  margin: 0 auto;
}

#search {
  margin: 0px -75px;
}
.spaced {
  margin-left: 10px;
}
#main {
  margin: 15px 25px 0px 150px;
  padding: 20px 170px 20px 15px;
  font-family: "Ubuntu Mono", monospace;
  font-size: 75px;
  border-radius: 40%;
  outline: solid black;
  background: rgba(203, 214, 204, 0.3);
}

#main-degree {
  text-decoration: none;
}

#current {
  margin: 0px 25px 0px 0px;
  padding: 25px 15px 0px 15px;
}
#current-info {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  margin: 0 auto;
  font-size: 22px;
}

.weather-icon {
  width: 40px;
  height: 35px;
  filter: grayscale(100%);
}

.forecast-container {
  display: block;
  margin: 20px auto;
  padding: 25px 30px;
  font-family: "Poppins", sans-serif;
}

#weather {
  text-transform: capitalize;
}

h4 {
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin: 10px auto;
  padding: 0px 25px 0px 150px;
  font-size: 20px;
}

#forecast-border {
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  outline: groove grey;
  outline-width: 5px;
  border-radius: 100px;
}
.col {
  margin: 0 auto;
  padding: 0 auto;
}

.card {
  outline: groove black;
  outline-width: 3px;
  border-radius: 47%;
  background: rgba(203, 214, 204, 0.3);
}

.card-text {
  line-height: 25px;
  font-weight: bolder;
}
p {
  text-align: center;
}

img.linkedin-logo {
  display: inline-block;
  margin: 10px;
  max-width: 25px;
  padding: 0px;
  border-radius: 50px;
}

img.shecodes-logo {
  display: inline-block;
  margin: 10px;
  max-width: 25px;
  padding: 0px;
  border-radius: 50px;
}

li.coder-connects {
  display: inline;
  padding: 0;
  margin: 0 auto;
  text-decoration: none;
}

ul {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
